# Node
**/node_modules/
**/dist/
**/build/
**/.parcel-cache/
**/.vite/
**/.next/
**/.nuxt/
**/.svelte-kit/

# Env files
**/.env
**/.env.*

# Logs
**/*.log
**/logs/

# Coverage
**/coverage/

# Temporary files
**/.DS_Store
**/tmp/